.home-layout {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 100px 1fr;

    .content-layout {
        display: grid;
        grid-column: 2/3;
        grid-row: 2/3;
        grid-template-columns: repeat(auto-fill, 25rem);

        .content-card {
            background-color: red;
            width: 25rem;

            .img-card {
                grid-row: 1/2;
                background-color: blue;
            }

            .text-card {
                grid-row: 2/3;
                background-color: yellow;
            }
        }
    }


}